@font-face {
    font-family: Nunito;
    src: url(../../fonts/NunitoSans-Regular.ttf)
}

@font-face {
    font-family: Nunito-Bold;
    src: url(../../fonts/NunitoSans-Bold.ttf)
}
@font-face {
    font-family: Nunito-Light;
    src: url(../../fonts/NunitoSans-Light.ttf)
}